@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
/* font-family: 'PT Serif', serif; */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
/* font-family: 'Work Sans', sans-serif; */

.wrap {
    width: 375px;
    margin: 0 auto;
}

.headerContents {

margin: 10px;

}

.main {
    background: #F3E4E1;
    width: 100%;
    padding: 2rem;
    position: relative;
}

.main::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url('../../assets/graphics/graphics-header.svg');
    background-repeat: no-repeat;
    background-position: top;
    z-index: inherit;
}

.main::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url('../../assets/graphics/graphics-footer.svg');
    background-repeat: no-repeat;
    background-position: bottom;
    z-index: inherit;
}

.container {
    margin: 0 auto;
    max-width: 900px;
    text-align: left;
    z-index: 1000;
    margin-top: 8rem;
}

.h1 {
    font-family: 'PT Serif', serif;
    line-height: 50.4px;
    margin-bottom: 2rem;
}

.strong {
    font-size: 0.875rem;
    line-height: 22.4px;
}

.p {
    font-family: 'Work Sans', sans-serif;
    color: #2F2926;
    font-size: 0.75rem;
    line-height: 19.2px;
    margin-bottom: 2rem;
}

.section {
    margin-top: .75rem;
    text-align: center;
    margin-bottom: 1.5rem;
}

.img {
    border-radius: 50%;
}

.h2 {
    font-family: 'PT Serif', serif;
}